<!DOCTYPE html>
<html ng-app="myApp">
<head>

    <meta charset="utf-8">
    <title>文档标题</title>
    <script  src="bower_components/angular/angular.js" type="text/javascript"> </script>
    <script>
    var app = angular.module("myApp", []);
    app.controller('mainCtrl',['$scope','$rootScope',function($scope,$rootScope){
        console.log("run in mainCtrl  $scope,$rootScope",$scope === $rootScope);
        console.log("run in mainCtrl  $scope,$rootScope",$scope);
        $scope.data = {'head':['1','2','3'],
                        'rows':[['a','b','c'],['x','y','z']]
                      }
        $scope.change = function(index){
            console.log(index)
            alert(index)
        }
        $scope.date_='2016-08-12';

    }]);
    app.directive("tabShow", function() {
        //var ctrl = function($scope){
        //    console.log("run in ctrl",$scope);
        //}
        //controller:ctrl,

        var _link = function(scope,ele,attr){

            console.log('scope',scope);

            if (attr.change){
                scope.change_flag = true;
            }
            if (attr.delete){
                scope.delete_flag = true;
            }

            scope.mychange=function(index){
                scope.change({index:index});
            }
            scope.mydelete=function(index){
                scope.delete({index:index});
            }

            //  pagination
            if(attr.paging){
                if (! {}.hasOwnProperty.call(scope.paging,'total_items')){
                    scope.paging['total_items'] = 0;
                }
            }
            scope.noPre = function(){
                return scope.paging.page === 1;
            }
            scope.noNex = function(){
                return scope.paging.page === scope.paging.total_pages;
            }
            scope.selectPage = function(page){
                //console.log('selectPage',page);
                //scope.apply(function(){
                //    scope.paging.page = page;
                //});
                scope.paging.page = page;
                scope.search();
            }
            //  pagination  end
        }
        return {
            restrict:'E',
            replace:true,
            scope:{ data:'=',
                    paging:'=',
                    change:'&',
                    delete:'&',
                    search:'&',
                  },
            link:_link,
            templateUrl:'template/tab_show.html'
            };
    });
    app.directive("myDate", function() {

        var _link = function(scope,ele,attr,ngModelCtrl){
            console.log("scope",scope);
            console.log("scope $$watchers",scope.$$watchers);
            // ngModelCtrl.$viewValue ==($formatters)==> ngModelCtrl.$modelValue  
            // ngModelCtrl.$modelValue ==($parsers)==> ngModelCtrl.$viewValue 
            ngModelCtrl.$formatters.push(function(modelValue){
            // 1
                console.log("modelValue",modelValue)
                return new Date(modelValue)
            })

            ngModelCtrl.$parsers.push(function(viewValue){
            // 4
                console.log("viewValue",viewValue)
                //return viewValue
                return viewValue.getFullYear() + '-' + (viewValue.getMonth()+1) + '-' + viewValue.getDate();
            })

            // ngModelCtrl.$viewValue ==($render)===>directive template
            ngModelCtrl.$render = function(){
            // 2
                console.log("$render",ngModelCtrl.$viewValue)
                scope._date = ngModelCtrl.$viewValue;

            }
            // directive template ==(watch+setViewValue)===> ngModelCtrl.$viewValue
            scope.$watch('_date',function(){
            // 3
                console.log("watch",scope._date)
                //_date = scope._date.getFullYear() + '-' + (scope._date.getMonth()+1) + '-' + scope._date.getDate();
                //ngModelCtrl.$setViewValue(_date);
                ngModelCtrl.$setViewValue(scope._date);
            });
            console.log("scope $$watchers 2",scope.$$watchers);


        }
        return {
           restrict:'E',
           replace:true,
           require: 'ngModel',
           scope:{},
           link:_link,
           template:'<div><input type="date"  ng-model="_date" /></div> '
           };
    });

    </script>
</head>

<body>
    <div ng-controller="mainCtrl">
        <!--
        <tab-show data="data" change="change(index)">
        </tab-show>
        -->

        <my-date ng-model="date_" require>
        </my-date>
        <input type="text" ng-model="date_" />
    </div>
</body>

</html>
